.wrapper {
  display: flex;
  width: 320px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 90%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  overflow-y: auto;
  overflow-x: hidden;
}
